= form_for :session, html: {role: 'form'} do |f|
  .form-group
    = f.text_field :email, placeholder: 'Email', class: 'form-control'
  .form-group
    = f.password_field :password, placeholder: 'Password', class: 'form-control'
  = f.submit 'Sign in', class: 'btn btn-large btn-primary'
