.main-msg
  %h1
    Feeling trapped? We've got you covered.
  #start-here-btn.btn.btn-primary
    Start here

#signup-cover.opaque-cover
  .container
    .row
      .col-md-4.col-md-offset-4
        = render 'signin_form'
        %div Or if you're new here, sign up
        = render 'signup_form'
