#document-editor{style: 'background-color: #eee; padding: 30px 0; padding-top: 170px;', tabindex: '0'}
  #page1.page{style: "width: 8.5in; height: 11in; padding: 1in;", data: {id: @document.id}}= @document.body.html_safe
