#document-info
  #document-info-wrapper
    = link_to root_path, id: 'home-bars' do
      = icon('bars', '', class: 'fa-inverse')
    = render 'document_info', edit_modal: true

= render @document, editable: true
