#document-info.scroll-watch
  #document-info-wrapper
    - if logged_in?
      = link_to root_path, id: 'home-bars' do
        = icon('bars', '', class: 'fa-inverse')
    = render 'document_info', edit_modal: false

= render @document, editable: false
