#document-info.scroll-watch
  #document-info-wrapper
    - if logged_in?
      = link_to root_path, id: 'home-bars' do
        = icon('bars', '', class: 'fa-inverse')
    = render 'document_info', edit_modal: false

#document-editor{tabindex: '0'}
  #page1.page{style: "width: 8.5in; height: 11in; padding: 1in;"}= @document.body.html_safe
