.post
  %h1.post-name
    = link_to post.name, post
  .post-info
    = link_to post.user.name, post.user
    wrote this on
    = post.created_at.strftime('%b %d')
  .post-content
    = markdown post.content
