// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#document-info {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  #document-info-wrapper {
    position: relative;
    #home-bars {
      position: absolute;
      height: 100%;
      padding: 22px;
      background-color: #3b2450;
      font-size: 32px;
      display: flex;
      align-items: center;
    }
  }
  .doc-info {
    margin: 10px 0;
    padding-left: 15px;
    .thumb-avatar {
      width: 75px;
      height: 75px;
      background-color: #3b2450;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 2px 2px #ccc;
      -moz-box-shadow: 0 0 2px 2px #ccc;
      box-shadow: 0 0 2px 2px #ccc;
      &:hover {
        -webkit-box-shadow: 0 0 3px 3px #ccc;
        -moz-box-shadow: 0 0 3px 3px #ccc;
        box-shadow: 0 0 3px 3px #ccc;
      }
    }
    h1, h3 {
      margin-top: 0;
      font-weight: 500;
    }
    h1 {
      margin-bottom: 0;
    }
    h3 {
      margin-bottom: 5px;
    }
    .small {
      font-size: 14px;
    }
  }
}

#document-editor-toolbar {
  background-color: #eee;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.toolbar-wrapper {
  width: 816px;
  margin: 0 auto;
}

.editor-group {
  display: inline-block;
  border-left: 1px solid #cccccc;
  padding: 4px;
  button, label {
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
  button {
    cursor: default;
  }
  label {
    margin: 0;
  }
}

button.editor-select-button {
  background: transparent;
  border: transparent;
  height: 28px;
  border-radius: 2px;
  span {
    display: inline-block;
    min-width: 56px;
    font-size: 14px;
  }
}

button.editor-button {
  background: transparent;
  border: transparent;
  height: 28px;
  width: 28px;
  border-radius: 2px;
}

input.editor-checkbox {
  display: none;
}

input.editor-checkbox + label {
  display: inline-block;
  text-align: center;
  width: 28px;
  height: 28px;
  border-radius: 2px;
}

input.editor-checkbox + label:hover, button.editor-select-button:hover, button.editor-button:hover {
  -moz-box-shadow:    0 0 1px 1px #ccc;
  -webkit-box-shadow: 0 0 1px 1px #ccc;
  box-shadow:         0 0 1px 1px #ccc;
}

input.editor-checkbox + label:active, button.editor-select-button:active, button.editor-button:active {
  -moz-box-shadow:    inset 0 0 3px #aaa;
  -webkit-box-shadow: inset 0 0 3px #aaa;
  box-shadow:         inset 0 0 3px #aaa;
}

input.editor-checkbox + label .fa {
  margin-top: 5px;
}

input.editor-checkbox:checked + label {
  background-color: #ddd;
  -moz-box-shadow:    inset 0 0 3px #aaa;
  -webkit-box-shadow: inset 0 0 3px #aaa;
  box-shadow:         inset 0 0 3px #aaa;
}

.page {
  margin: 30px auto;
  white-space: pre-wrap;
  background-color: #fff;
  box-shadow: 0 0 4px 4px #ccc;
}

.cursor {
  background: linear-gradient(to right, #333 2px, #ffffff 2px, #ffffff 100%);
}

.blink-1s {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  0% { background: #fff; }
  50% { background: linear-gradient(to right, #333 2px, #ffffff 2px, #ffffff 100%);; }
  100% { background: #fff; }
}
@-webkit-keyframes blink {
  0% { background: #fff; }
  50% { background: linear-gradient(to right, #333 2px, #ffffff 2px, #ffffff 100%);; }
  100% { background: #fff; }
}

/* ---------- Dropdowns ---------- */
.dropdown {
  position: relative;
}
ul.dropdown-list {
  position: absolute;
  background-color: white;
  margin: 0;
  padding: 5px 0px;
  border: 1px solid #eee;
  -moz-box-shadow:    0 2px 2px 2px #ccc;
  -webkit-box-shadow: 0 2px 2px 2px #ccc;
  box-shadow:         0 2px 2px 2px #ccc;
  z-index: 10;
  display: none;
  li {
    list-style-type: none;
    padding: 5px 20px;
    min-width: 56px;
    box-sizing: content-box;
    &:hover {
      background-color: #eee;
    }
  }
}
#font-fam-select {
  span, li { min-width: 112px; }
}
/* ---------- scroll-shadow ---------- */
.scroll-shadow {
  -webkit-box-shadow: 0 0 3px 3px #ccc;
  -moz-box-shadow:    0 0 3px 3px #ccc;
  box-shadow:         0 0 3px 3px #ccc;
}
