// Arial
@font-face {
  font-family: 'Arial';
  src: asset-url('Arial.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: asset-url('Arialbd.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: asset-url('Arialbi.TTF') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Arial';
  src: asset-url('Ariali.TTF') format('truetype');
  font-weight: normal;
  font-style: italic;
}
// Comic Sans MS
@font-face {
  font-family: 'Comic Sans MS';
  src: asset-url('Comic.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Comic Sans MS';
  src: asset-url('Comicbd.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}
// Courier New
@font-face {
  font-family: 'Courier New';
  src: asset-url('cour.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Courier New';
  src: asset-url('courbd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Courier New';
  src: asset-url('courbi.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Courier New';
  src: asset-url('couri.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
// Georgia
@font-face {
  font-family: 'Georgia';
  src: asset-url('Georgia.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: asset-url('Georgiab.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: asset-url('Georgiai.TTF') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Georgia';
  src: asset-url('Georgiaz.TTF') format('truetype');
  font-weight: bold;
  font-style: italic;
}
// Impact
@font-face {
  font-family: 'Impact';
  src: asset-url('Impact.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// Times New Roman
@font-face {
  font-family: 'Times New Roman';
  src: asset-url('Times.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Times New Roman';
  src: asset-url('Timesbd.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Times New Roman';
  src: asset-url('Timesbi.TTF') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Times New Roman';
  src: asset-url('Timesi.TTF') format('truetype');
  font-weight: normal;
  font-style: italic;
}
// Trebuchet MS
@font-face {
  font-family: 'Trebuchet MS';
  src: asset-url('trebuc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Trebuchet MS';
  src: asset-url('Trebucbd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Trebuchet MS';
  src: asset-url('trebucbi.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Trebuchet MS';
  src: asset-url('trebucit.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
// Verdana
@font-face {
  font-family: 'Verdana';
  src: asset-url('Verdana.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Verdana';
  src: asset-url('Verdanab.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Verdana';
  src: asset-url('Verdanai.TTF') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Verdana';
  src: asset-url('Verdanaz.TTF') format('truetype');
  font-weight: bold;
  font-style: italic;
}
