// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forgot-password {
  margin-top: 15px;
  a {
    color: #eee;
    &:hover, &:focus {
      color: #fff;
      text-decoration: none;
    }
  }
}
