// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-inverse {
  background-color: #090909;
}

.container-fluid, .row, .col-md-4, .col-md-8 {
  height: 100%;
}
.col-md-4, .col-md-8 {
  overflow-y: scroll;
  padding-top: 50px;
}
.col-md-4 {
  padding-bottom: 20px;
  background-color: #3b2450;
  h2, h3, .markdown {
    color: white;
  }
}
.col-md-8 {
  padding-left: 0;
  padding-right: 0;
  h2, .btn {
    margin-top: 10px;
  }
}

.medium-avatar {
  width: 200px;
  height: 200px;
  background-color: #3b2450;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.delete-avatar {
  text-align: center;
}

#edit-container {
  padding: 75px 0;
}

/* ---------- bootstrap overrides ---------- */
.panel {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
}
