// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-inverse {
  background-color: #090909;
}

.col-left {
  min-height: 100%;
  width: 30%;
  float: left;
  background-color: #3b2450;
  padding: 80px 30px;
  h2, h3, .markdown {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
  }
}
.col-main {
  height: 100%;
  width: 70%;
  padding-top: 50px;
  float: left;
  .panel-heading {
    h2 {
      display: inline-block;
    }
    .btn {
      margin-top: 20px;
    }
  }
}

.medium-avatar {
  width: 200px;
  height: 200px;
  background-color: #3b2450;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.delete-avatar {
  text-align: center;
}

#edit-container {
  padding: 75px 0;
}
