!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Resume Builder
    = csrf_meta_tags
    :css
      // replicate some bootstrap styles
      body {
        margin: 0;
      }
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

  %body
    = yield
